* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

#menu {
    display: flex;
    flex-direction: column;
    height: 512px;
    width: 256px;
    border-radius: 16px;
    flex: 0 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

#etchASketchContainer {
    width: 512px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: center;
    align-content: center;
    flex: 0 0 auto;
}
.container {
    text-align: center;
}

.gameRow {
    display: flex;
}

.gameBlock {
    border-style: solid;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2)
}