* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.etchASketchContainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: center;
    align-content: center;
}

.gameRow {
    display: flex;
}

.gameBlock {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(128, 128, 128);
    margin: 1px;
}